---
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Nosotros from '../components/Nosotros.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<Main>
		<Hero />
		<Menu />
		<Nosotros />
	</Main>
	<Footer />
</Layout>
