---
import Horario from "./Horario.astro";
import Ubicacion from "./Ubicacion.astro";


---

<footer class="px-16 py-8 bg-amber-500 text-white m">
	<h2 class="text-4xl font-bold text-center mb-8">Horario y Ubicación</h2>
	<section class="grid grid-cols-2 gap-8 justify-between">
		<Horario/>
		<Ubicacion/>
	</sectio>
</footer>