---

---

<header class="flex items-center justify-between py-4 px-16">
  <h1 class="text-2xl font-bold uppercase">El Buen Sabor</h1>
  <nav>
	<ul class="flex space-x-8 *:hover:underline">
	  <li><a href="/">Menú</a></li>
	  <li><a href="/about">Nosotros</a></li>
	  <li><a href="/blog">Horario y Ubicación</a></li>
	  <li><a href="/blog">Testimonio</a></li>
	  <li><a href="/blog">Galería</a></li>
	</ul>
  </nav>
</header>