---

---

<article class="border p-4 rounded-2xl bg-white shadow-md text-black">
	<div>
		<h5 class="text-2xl font-bold uppercase">Nuestro horario</h5>
		<p class="text-lg">Estamos disponibles todos los días</p>
	</div>
	<aside class="bg-amber-500 text-white p-4 rounded-lg text-center">
		<p>Abierto de Lunes a Domingo</p>
		<p class="font-bold text-lg">De 11:00 am a 12:00 pm</p>
	</aside>
	<ul>
		<li class="flex justify-between my-6">
			<div>
				<p>Lunes</p>
			</div>
			<div class="flex gap-2">
				<p>11:00 am - 12:00 pm</p>
				<span class="text-lime-600 inline-block border border-lime-600 px-2 rounded-full font-bold">Abierto</span>
			</div>
		</li>
		<li class="flex justify-between my-6">
			<div>
				<p>Martes</p>
			</div>
			<div class="flex gap-2">
				<p>11:00 am - 12:00 pm</p>
				<span class="text-lime-600 inline-block border border-lime-600 px-2 rounded-full font-bold">Abierto</span>
			</div>
		</li>
		<li class="flex justify-between my-6">
			<div>
				<p>Miércoles</p>
			</div>
			<div class="flex gap-2">
				<p>11:00 am - 12:00 pm</p>
				<span class="text-lime-600 inline-block border border-lime-600 px-2 rounded-full font-bold">Abierto</span>
			</div>
		</li>
		<li class="flex justify-between my-6">
			<div>
				<p>Jueves</p>
			</div>
			<div class="flex gap-2">
				<p>11:00 am - 12:00 pm</p>
				<span class="text-lime-600 inline-block border border-lime-600 px-2 rounded-full font-bold">Abierto</span>
			</div>
		</li>
		<li class="flex justify-between my-6">
			<div>
				<p>Viernes</p>
			</div>
			<div class="flex gap-2">
				<p>11:00 am - 12:00 pm</p>
				<span class="text-lime-600 inline-block border border-lime-600 px-2 rounded-full font-bold">Abierto</span>
			</div>
		</li>
		<li class="flex justify-between my-6">
			<div>
				<p>Sábado</p>
			</div>
			<div class="flex gap-2">
				<p>11:00 am - 12:00 pm</p>
				<span class="text-lime-600 inline-block border border-lime-600 px-2 rounded-full font-bold">Abierto</span>
			</div>
		</li>
		<li class="flex justify-between my-6">
			<div>
				<p>Domingo</p>
			</div>
			<div class="flex gap-2">
				<p>11:00 am - 12:00 pm</p>
				<span class="text-lime-600 inline-block border border-lime-600 px-2 rounded-full font-bold">Abierto</span>
			</div>
		</li>
		
	</ul>
</article>