---
import { ListMenu } from "./react/ListMenu";
---

<section class="p-6">
  <div class="mb-8">
    <h2 class="text-3xl md:text-4xl font-bold uppercase text-center">
      Menu de la casa
    </h2>
    <p class="text-base md:text-lg w-full md:w-3/6 text-center mx-auto mt-4">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi numquam
      dicta voluptate error atque saepe magni molestiae soluta temporibus non.
    </p>
  </div>
  <ListMenu client:visible />
  <div class="flex justify-center mt-8">
    <a
      class="inline-block w-full md:w-auto px-4 py-2 rounded-full bg-amber-500 font-bold text-white text-center"
      href="/menu.pdf"
      target="_blank"
      rel="noopener noreferrer"
    >
      Descargar Menú
    </a>
  </div>
</section>
