---
import PlatoCard from "./PlatoCard.astro";


---

<section>
	<div>
		<h2>Menu de la casa</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi numquam dicta voluptate error atque saepe magni molestiae soluta temporibus non.</p>
	</div>

	<div>
		<ul>
			<li>
				<h3>Entradas</h3>
			</li>
			<li>
				<h3>Platos principales</h3>
			</li>
			<li>
				<h3>Postres</h3>
			</li>
			<li>
				<h3>Bebidas</h3>
			</li>
		</ul>
	</div>
	<section>
		<PlatoCard/>
		<PlatoCard/>
		<PlatoCard/>
		<PlatoCard/>
	</section>
	<button>Descargar Menú</button>
</section>