---
import PersonalCard from "./PersonalCard.astro";


---

<section>
  <div>
    <h2>Nosotros</h2>
    <p>
      Desde 2010, en Culinary Delights funcionamos tradición e innovación para
      crear experiencias únicas. Nuestro equipo de chefs apasionados se dedica a
      seleccionar los integrantes mas frescos y de alta calidad.
    </p>
  </div>
  <div>
	<PersonalCard/>
	<PersonalCard/>
	<PersonalCard/>
  </div>
</section>
