---
import PersonalCard from "./PersonalCard.astro";

const personal = [
  {
    name: "Juan Pérez",
    role: "Chef Ejecutivo",
    image:
      "https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg",
  },
  {
    name: "María González",
    role: "Chef Pastelera",
    image:
      "https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg",
  },
  {
    name: "Carlos Rodríguez",
    role: "Chef de Cocina",
    image:
      "https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg",
  },
];
---

<section class="p-4" id="nosotros">
  <div class="mb-8">
    <h2 class="text-3xl md:text-4xl uppercase font-bold text-center">Nosotros</h2>
    <p class="text-base md:text-lg w-full md:w-3/6 mx-auto text-center mt-4">
      Desde 2010, en Culinary Delights funcionamos tradición e innovación para crear experiencias únicas. Nuestro equipo de chefs apasionados se dedica a seleccionar los integrantes más frescos y de alta calidad.
    </p>
  </div>
  <div class="flex flex-col md:flex-row justify-center gap-4 flex-wrap mb-8">
    {personal.map((person) => (
      <PersonalCard name={person.name} role={person.role} image={person.image} />
    ))}
  </div>
</section>
