---
const { name, role, image } = Astro.props;
---

<article class="border rounded-xl overflow-hidden shadow-lg max-w-xs mx-auto">
  <figure>
    <img class="w-full h-auto" src={image} alt={`foto de ${name}`} />
  </figure>
  <figcaption class="py-4 px-2">
    <h4 class="text-xl md:text-2xl font-bold text-center">{name}</h4>
    <p class="text-base md:text-lg text-center">{role}</p>
  </figcaption>
</article>
