---

---

<article>
  <figure>
    <img src="" alt="" />
  </figure>
  <figcaption>
    <h4>John Carter</h4>
    <p>Especialista en cocina mediterranea</p>
    <div>
      <a href="https://twitter.com/johncarter" target="_blank">Twitter</a>
      <a href="https://instagram.com/johncarter" target="_blank">Instagram</a>
      <a href="https://linkedin.com/johncarter" target="_blank">Linkedin</a>
    </div>
  </figcaption>
</article>
