---

---

<article>
	<figure>
		<img src="" alt="plato de comida" />
		<figcaption>
			<h3>Nombre del plato</h3>
			<p>Descripción del plato</p>
			<p>Precio: S/9.00</p>
		</figcaption>
	</figure>
</article>