---
const whatsappLink = "https://wa.link/xldx2j";
---

<a
  href={whatsappLink}
  class="fixed bottom-4 right-4 bg-green-500 text-white p-4 rounded-full shadow-lg hover:bg-green-600 transition-all flex items-center justify-center"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Chat en WhatsApp"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="w-6 h-6"
  >
    <path
      fill-rule="evenodd"
      d="M12 2C6.48 2 2 6.48 2 12c0 2.2.64 4.24 1.74 5.96L2 22l4.22-1.68C8 21 10 22 12 22c5.52 0 10-4.48 10-10S17.52 2 12 2zm0 18c-1.92 0-3.71-.62-5.17-1.68l-.36-.26-2.49 1 1-2.51-.26-.36C4.62 15.71 4 13.92 4 12c0-4.42 3.58-8 8-8s8 3.58 8 8-3.58 8-8 8zm3.72-5.85c-.2-.1-1.17-.58-1.35-.65s-.31-.1-.44.1-.51.65-.63.78c-.11.13-.23.15-.43.05-.2-.1-.83-.31-1.58-1-.58-.52-.97-1.16-1.08-1.36-.11-.2-.01-.31.08-.41.08-.08.2-.23.3-.35.1-.13.13-.2.2-.33s.03-.25-.01-.35c-.04-.1-.44-1.06-.6-1.45-.16-.39-.32-.34-.44-.35-.11-.01-.24-.02-.37-.02s-.35.05-.53.25c-.18.2-.69.68-.69 1.65s.71 1.91.81 2.04c.1.13 1.4 2.14 3.4 3 .47.2.84.31 1.13.4.48.15.92.13 1.26.08.38-.06 1.17-.48 1.33-.95s.16-.87.11-.95c-.05-.07-.2-.13-.41-.23z"
      clip-rule="evenodd"
    />
  </svg>
</a>
